* {
    box-sizing: border-box;
}
html {
    font-family: Verdana, Geneva, sans-serif;
  }
  .responsive {
      max-width: 100%;
      height: auto;
    }
a:hover {  /* highlights nav menu links on hover */
	color: red;
}
a:visited { /* shows which nav menu links have been visited */
    color: purple;
}
p.right{ /* use for class of prices for food menu items */
        text-align:right;
}
p.caps-larger { /* use for class of food menu items */
    font-variant: small-caps;
    font-size: 200%;
}
img.food { /* use for float picture next to the food menu items */
    float: left;
    display: block;
  }
.header {
    background-color:rgba(3, 73, 3, 0.822);
    font-size: 3vw;
    text-align: center;
    padding: 0.5vw;
    width: 100%; 
}
.nav {
    border: 2px solid black;
    background-color: rgb(111, 233, 111);
    text-align: center;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
    width: 100%; 
    display: inline-block;
}
.col-container {
    display: table;
    width: 100%; 
}
.column {
    display: table-cell;
    padding: 10px;
    width: 50%;
    background-color: rgb(178, 243, 218);
}
@media screen and (max-width:600px) {
    .column {
    width:100%;
    }
}
.center {
    margin: auto;
    width: 75%;
    padding: 10px;
  }
.footer {
    text-align: center;
    font-size: 75%;
}
.split-para { 
    display:block;
    margin:10px;
}
.split-para span { 
    display:block;
    float:right;
    width:10%;
    margin-left:10px;
}