* {
    box-sizing: border-box;
}
html {
    font-family: Verdana, Geneva, sans-serif;
  }
.responsive {
    max-width: 100%;
    height: auto;
  }
a:hover {  /* highlights nav menu links on hover */
	color: red;
}
a:visited { /* shows which nav menu links have been visited */
    color: purple;
}
p.right{ /* use for class of prices for food menu items */
        text-align:right;
}
p.caps-larger { /* use for class of food menu items */
    font-variant: small-caps;
    font-size: 200%;
}
.header {
    background-color:rgba(3, 73, 3, 0.822);
    font-size: 3vw;
    text-align: center;
    padding: 0.5vw;
    width: 100%;
}
.nav {
    border: 2px solid black;
    background-color: rgb(111, 233, 111);
    text-align: center;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
    width: 100%;
}
.col-container {
    display: table;
    width: 100%; 
}
.column {
    display: table-cell;
    padding: 10px;
    width: 50%;
    background-color: rgb(0, 255, 157);
}
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
