* {
    box-sizing: border-box;
}
.header {
    background-color:rgba(3, 73, 3, 0.822);
    font-size: 3vw;
    text-align: center;
    padding: 0.5vw;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    background-color: rgb(0, 255, 157);
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
